$header-font: "adorn-condensed-sans", sans-serif;
$text-font: "hind", sans-serif;

$dark-text: #3c414e;
$light-text: #e7e7e7;

$accent: #67718d;
$pink: #f36766;

$first: #dcf2ff; // sky
$second: #deffe3; // grass
$third: #fff2e1; // dirt
$fourth: #ededed; // rock

:root {
  --first: #dcf2ff; // sky
  --second: #deffe3; // grass
  --third: #fff2e1; // dirt
  --fourth: #ededed; // rock
  --dark-text: #3c414e;
}
