@import "../../../styles/Colors.scss";

.navigation {
  position: sticky;
  height: 0;
  top: 0;
  right: 15px;
  left: 0;
  z-index: 10;
  text-align: right;
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .disabled {
    pointer-events: none;
    opacity: 0;
  }
  .icon-link {
    position: relative;
    display: inline-block;
    padding: 12px;
    margin: 5px;
    transition: transform 0.2s ease-out;
    background-color: white;
    box-shadow: 0px 0px 7px #00000017;
    top: 0;
    span.item-count {
      position: absolute;
      right: 12px;
      top: 12px;
      display: inline-block;
      border-radius: 100%;
      width: 13px;
      height: 13px;
      border: 2px solid white;
      background-color: #f36766;
      margin-right: -5px;
    }
  }
  .icon-link.home {
    border-radius: 15px 13px 35px 15px;
    justify-self: left;
  }
  .icon-link.cart {
    border-radius: 15px 13px 15px 35px;
    justify-self: right;
  }
}
