@import "../../../styles/Colors.scss";
/* Logo Border Radius */
$br: 25px;

.navigation.content {
  padding: 0 !important;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Links */
    .blob {
      text-align: center;
    }

    .blob.link {
      section {
        border: unset;
        min-height: unset;
      }
    }

    .blob.link.shop section {
      background-color: #fee5d1;
      box-shadow: 1px 1px 10px #cdb69d61;
      color: #5c462d;
    }
    .blob.link.login section {
      background-color: $blue;
      box-shadow: 1px 1px 10px #51518152;
      color: white;
    }
  }
}
