@import "src/styles/Colors.scss";

.navigation {
  .disabled {
    pointer-events: none;
    opacity: 0;
  }
  .icon-link {
    span.item-count {
      position: absolute;
      right: 12px;
      top: 12px;
      display: inline-block;
      border-radius: 100%;
      width: 13px;
      height: 13px;
      border: 2px solid white;
      background-color: #f36766;
      margin-right: -5px;
    }
  }
  .icon-link.home {
    border-radius: 15px 13px 35px 15px;
    justify-self: left;
  }
  .icon-link.cart {
    border-radius: 15px 13px 15px 35px;
    justify-self: right;
  }
}
