.logo {
  position: relative;
  width: 100%;
  img {
    border: 2px dashed #8e847b61;
    border-radius: 200px;
    padding: 5px;
  }
}

@media only screen and (min-width: 600px) {
  .logo {
    text-align: left;
  }
}
