@import "../../../styles/Colors.scss";

.footer {
  padding: 30px;
  background-color: #fee5d1;
  .content {
    a:not(.social a) {
      border-bottom: 2px dashed;
    }
    .social {
      a {
        margin-right: 10px;
      }
    }
    * {
      color: #8f847b;
      line-height: 25px;
    }
  }
}
