@import "../../../styles/Colors.scss";

.footer {
  padding: 30px;

  .content {
    a:not(.social a) {
      border-bottom: 2px solid;
    }
    .social {
      a {
        margin-right: 10px;
      }
    }
    * {
      color: #8f847b;
      line-height: 25px;
    }
  }
}
