@import "src/styles/Colors.scss";

.cost,
.cross {
  font-size: 18px;
}
.cost {
  font-weight: bold;
  color: $dark-text;
}
.ends {
  font-weight: bold;
  opacity: 0.9;
  margin-top: 3px;
}
.cross {
  position: relative;
  color: $dark-text;
  display: inline-block;
  padding-right: 10px;
  text-decoration: line-through;
}
