@import "../../styles/Colors.scss";

.blob.card {
  margin-bottom: 30px;
  section {
    // padding: 0;
    cursor: pointer;
    .next {
      padding-top: 20px;
      display: flex;
    }
    .flex {
      display: flex;
      h2 {
        width: fit-content;
        font-size: 18px;
        font-weight: bold;
        color: $blue;
        padding-bottom: 4px;
      }
      p.summary {
        text-align: left;
        padding-top: 10px;
        font-size: 14px;
        padding-bottom: 10px;
      }
      div {
        width: 100%;
      }
      .image {
        width: 70%;
        justify-content: left;
        display: flex;
        align-items: center;
        margin-right: 25px;
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        .more-info {
          font-size: 13px;
          border-radius: 100px;
          padding: 2px 5px;
          color: $blue;
          border: 1px solid $blue;
        }
      }
    }
  }
}

.blob.card:not(.info) {
  padding: 0;
}

.cost,
.cross {
  font-size: 18px;
}
.cost {
  font-weight: bold;
  color: $blue;
}
.ends {
  font-weight: bold;
  opacity: 0.9;
  color: #545485;
  margin-top: 3px;
}
.cross {
  position: relative;
  color: grey;
  display: inline-block;
  padding-right: 10px;
  text-decoration: line-through;
}
