@import "../Styles/Colors.scss";

.page {
  background-color: #fffdf5;
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
  padding: 50px 0;
}

.split {
  display: flex;
}
@media only screen and (max-width: 700px) {
  .split {
    flex-wrap: wrap;
  }
}
.blob {
  width: 100%;
  padding: 10px;
  section {
    position: relative;
    z-index: 0;
    padding: 15px 20px;
    border: 1px solid $blue;
    border-radius: 30px;
    min-height: 200px;
  }
}
.blob.link {
  section {
    background-color: #fffae7;
    box-shadow: 2px 2px 2px #ebde8a9c;
    border: unset;
    min-height: unset;
  }
}
.top {
  height: 300px;
  .logo {
    pointer-events: none;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    .box {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      height: 70px;
      background-color: #fffae7;
      box-shadow: 2px 2px 2px #ebde8a9c;
    }
    img {
      border-radius: 100%;
      display: inline-block;
      padding: 5px;
      margin: 10px;
    }
  }
}

@media only screen and (min-width: 501px) {
  .top {
    .logo {
      position: relative;
      top: -60px;
    }
  }
}
