@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import "../../../styles/Colors.scss";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  color: #363636;
}

/*
font-family: 'Comfortaa', cursive;
font-family: 'Poppins', sans-serif;
*/
body,
html {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #fffdfc;
}

:root {
  /* Max Width for content & header*/
  --maxWidth: 1100px;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  padding: 1px;
  margin: 30px 10px;
  border: unset;
  background: #3f73d71c;
  border-radius: 100%;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  span {
    text-transform: initial;
  }
}

button {
  display: block;
  background-color: unset;
  border: unset;
}

// - removes small movements after page transition
// - fixes bottom navbars being hidden by OS nav
.tl-wrapper {
  transform: unset !important;
}

/* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */

.shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  /* Similar syntax to box-shadow */
}

.App {
  .content {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    max-width: var(--maxWidth);
  }
}

.page {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}
.page.hide-overflow {
  overflow: hidden;
}

.split {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.price {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-top {
  position: relative;
  background-color: #fff0e4;
  margin-bottom: -50px;

  min-height: 700px;
  height: 90vh;
  max-height: 900px;
  clip-path: var(--clipPath);
  section {
    display: flex;
    .left {
      width: 50%;
      max-width: 500px;
      height: 100%;
      padding: 5px 20px 25px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .right {
      width: 50%;
      padding-top: 10px;
      overflow: hidden;
      svg {
        min-width: 510px;
      }
    }
  }
  button {
    --bgColor: #f3d7c4;
    --color: #282624;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    padding: 18px 30px;
    border: 2px dashed;
    color: var(--color);
    letter-spacing: 2px;
    border-radius: 40px 40px 40px 7px;
    margin-top: 30px;
    width: fit-content;
    &:last-of-type {
      margin-top: 10px;
      border-radius: 7px 40px 40px;
      background-color: transparent;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: var(--bgColor);
      transform: translate(3px, 3px);
      z-index: -1;
    }
    &:first-of-type:after {
      border-radius: 40px 40px 40px 7px;
    }
    &:last-of-type:after {
      border-radius: 7px 40px 40px;
    }
  }
  section {
    max-width: var(--maxWidth);
    margin: 0 auto;
    height: 100%;
  }
  h1,
  p,
  a {
    color: #564d42;
    text-shadow: 0 0 12px #fff0e4;
  }
  h1 {
    font-family: "Forum", cursive;
    font-size: 55px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  p {
    font-size: 17px;
    line-height: 30px;
  }
  a {
    span {
      letter-spacing: 8px;
    }
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 5px;
    padding: 5px 0;
    width: fit-content;
    margin-left: auto;
    border-bottom: 1px solid #6b6156;
    filter: drop-shadow(0 0 5px #fff0e4);
  }
}
.cart-tab .item {
  position: relative;
  background: white;
  padding: 15px;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 6%) 2px 1px 7px;
  margin-bottom: 20px;
  img {
    width: 65px;
    margin-right: 20px;
  }
  .flex {
    display: flex;
  }
  .size {
    text-transform: capitalize;
    color: #b1b1b1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
  }
  button.delete {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 12px;
    padding: 0;
  }
}

.cart-tab {
  height: 100%;
  background-color: white;
  z-index: 11;
  a.back-button {
    position: absolute;
    left: 20px;
    margin-right: auto;
    padding: 10px;
    margin-top: 5px;
  }
  h3 {
    width: 100%;
    text-align: center;
    padding: 23px 30px 30px;
    font-size: 20px;
    font-family: system-ui;
  }
  section {
    background-color: #f7f7f7;
    border-radius: 30px 30px 0 0;
    padding: 20px;
    height: 95%;
    padding-bottom: 70%;
    overflow: auto;
  }
  overflow: hidden;

  .nav {
    position: fixed;
    bottom: 0;
    padding: 30px;
    background: #fffffff2;
    right: 0;
    left: 0;
    border-radius: 30px 30px 0 0;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 20px;
    backdrop-filter: blur(1px);
    .sub,
    .price {
      display: flex;
      justify-content: space-between;
      font-family: system-ui;
    }
    .sub span,
    .price span {
      display: inline-block;
    }
    .sub {
      color: #c9c9c9;
      margin-bottom: 10px;
    }
    .price {
      font-size: 23px;
      line-height: 40px;
      color: #313439;
      border-top: 2px dashed #e0e0e0;
      margin-top: 10px;
      padding-top: 10px;
      margin-bottom: 10px;
    }
    button {
      padding: 15px 20px;
      background: #313439;
      color: white;
      border-radius: 20px;
      font-size: 20px;
      width: 100%;
    }
  }
  .no-items {
    text-align: center;
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    svg {
      margin-bottom: 20px;
      margin-left: -20px;
    }
    p {
      color: #c9c9c9;
      font-family: system-ui;
    }
  }
}
.cart-icon {
  position: fixed;
  right: 0;
  z-index: 10;
  padding: 20px;
  transition: transform 0.2s ease-out;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
  span.item-count {
    display: inline-block;
    text-align: center;
    font-family: monospace;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    font-size: 15.5px;
    color: white;
    background-color: #f36766;
    margin-right: -5px;
  }
}
.cart-icon.animate {
  transform: scale(1.1);
}

.notification-popup {
  position: fixed;
  z-index: 20;
  top: 0;
  padding: 10px;
  background: #fffdfc;
  border: 2px dashed $brown;
  border-top: 0;
  right: 0;
  left: 0;
  border-radius: 0 0 20px 20px;
  text-align: center;
  .max-10 {
    color: $pink;
  }
}

//Desktop
@media only screen and (min-width: 600px) {
  .cart-icon {
    margin-right: 30px;
  }
}

//Mobile
@media only screen and (max-width: 700px) {
  .main-top {
    padding-top: 40px;
    section {
      .left {
        width: 100%;
        justify-content: initial;
      }
      .right {
        svg {
          transform: scale(1.2);
        }
        opacity: 0.7;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -5;
      }
    }
  }
}
.blob {
  width: 100%;
  padding: 10px;
  section {
    position: relative;
    z-index: 0;
    padding: 15px 20px;
    border-radius: 30px;
    max-width: 500px;
  }
}
