@import url("https://use.typekit.net/ecd0qyk.css");
@import "../../../styles/Colors.scss";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  color: $dark-text;
}

body,
html {
  height: 100%;
  font-size: 16px;
  font-family: $text-font;
  background-color: #fffdfc;
}

button {
  display: block;
  background-color: unset;
  border: unset;
}

// - removes small movements after page transition
// - fixes bottom navbars being hidden by OS nav
.tl-wrapper {
  transform: unset !important;
}

.page.hide-overflow {
  overflow: hidden;
}

.quantity {
  font-family: monospace;
  line-height: 27px;
  .add,
  .minus,
  .num {
    color: #383838;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  .add,
  .minus {
    max-width: 30px;
    border: 2px solid #383838;
    border-radius: 5px;
  }
}

.price {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.second {
  padding-top: 0;
  border-radius: 0 0 20px 20px;
  padding-top: 60px !important;
}
.third {
  background-color: $third;
}

.second,
.third {
  position: relative;
  z-index: 5;
  padding: 30px 10px;
  .raise {
    margin-top: -70px;
  }
  .info {
    padding: 20px;
    max-width: 500px;
    width: 50%;
    h2 {
      font-size: 40px;
      margin-bottom: 30px;
      font-family: $header-font;
    }
    p {
      line-height: 40px;
      font-size: 23px;
      margin-bottom: 20px;
      font-family: $text-font;
    }
  }
  .story {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 700px) {
  .info {
    max-width: unset !important;
    width: 100% !important;
  }
}

.shop {
  padding-top: 100px;
  .search {
    width: 100%;
    padding: 0 10px;
    max-width: 400px;
    input {
      font-size: 20px;
      padding: 10px 20px;
      width: 100%;
      border: 1px solid #e3e3e3;
      border-radius: 100px;
    }
  }
  .categories {
    display: flex;
    margin-bottom: 50px;
    overflow-x: auto;
    padding: 30px 10px;
    button {
      padding: 10px 15px;
      border-radius: 10px;
      font-size: 18px;
      background: whitesmoke;
      margin-right: 10px;
      min-width: fit-content;
    }
    button.active {
      background-color: #4c5c6a;
      color: white;
    }
  }
  .featured {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
}

.cart-tab {
  height: 100%;
  background-color: white;
  z-index: 11;
  padding: 0 !important;
  a.back-button {
    position: absolute;
    left: 20px;
    margin-right: auto;
    padding: 10px;
    margin-top: 5px;
  }
  h3 {
    width: 100%;
    text-align: center;
    padding: 23px 30px 30px;
    font-size: 20px;
    font-family: system-ui;
  }
  section {
    background-color: #f7f7f7;
    border-radius: 30px 30px 0 0;
    padding: 20px;
    height: 95%;
    padding-bottom: 70%;
    overflow: auto;
  }
  overflow: hidden;

  .nav {
    position: fixed;
    bottom: 0;
    padding: 30px;
    background: #fffffff2;
    right: 0;
    left: 0;
    border-radius: 30px 30px 0 0;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 20px;
    backdrop-filter: blur(1px);
    .sub,
    .price {
      display: flex;
      justify-content: space-between;
      font-family: system-ui;
    }
    .sub span,
    .price span {
      display: inline-block;
    }
    .sub {
      color: #c9c9c9;
      margin-bottom: 10px;
    }
    .price {
      font-size: 23px;
      line-height: 40px;
      color: #313439;
      border-top: 2px solid #e0e0e0;
      margin-top: 10px;
      padding-top: 10px;
      margin-bottom: 10px;
    }
    button {
      padding: 15px 20px;
      background: #313439;
      color: white;
      border-radius: 20px;
      font-size: 20px;
      width: 100%;
    }
  }
  .no-items {
    text-align: center;
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    svg {
      margin-bottom: 20px;
      margin-left: -20px;
    }
    p {
      color: #c9c9c9;
      font-family: system-ui;
    }
  }
}

.notification-popup {
  position: fixed;
  z-index: 20;
  top: 0;
  padding: 20px;
  background: #fffdfc;
  border-top: 0;
  right: 0;
  left: 0;
  border-radius: 0 0 20px 20px;
  text-align: center;
  font-size: 20px;
  .max-10 {
    color: $pink;
  }
}

//Mobile
@media only screen and (max-width: 700px) {
  .main-top {
    .resize {
      padding-top: 40px;
      min-height: 560px;
      section {
        .left {
          width: 100%;
          justify-content: initial;
        }
        .right {
          svg {
            transform: scale(1.2);
            clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
          }
          opacity: 0.7;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
        }
      }
    }
  }
}
.blob {
  width: 100%;
  padding: 10px;
  section {
    position: relative;
    z-index: 0;
    padding: 15px 20px;
    border-radius: 30px;
    max-width: 500px;
  }
}
