.focus-popup {
  position: fixed;
  bottom: -50vh;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  padding: 10px;
  height: 50vh;
  background-color: #fff;
  border-radius: 50px 50px 0 0;
  box-shadow: 0 0 100px transparent;

  transition: bottom 0.5s, box-shadow 0.5s;
  will-change: bottom, box-shadow;
  h1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0 20px 0;
  }
  .image {
    width: fit-content;
    margin: 0 auto;
  }
  button.close {
    margin-left: auto;
    font-size: 15px;
    opacity: 0.4;
    padding: 5px;
    margin-right: 15px;
  }
}

.focus-popup.open {
  bottom: 0;
  box-shadow: 0 0 100px #00000045;
}
