@import "../../styles/Colors.scss";

.cart-tab {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 11;
  button.back-button {
    position: absolute;
    left: 20px;
    margin-right: auto;
    padding: 10px;
    margin-top: 15px;
  }
  h3 {
    width: 100%;
    text-align: center;
    padding: 23px 30px 30px;
    font-size: 20px;
    font-family: system-ui;
  }
  section {
    background-color: #f7f7f7;
    border-radius: 30px 30px 0 0;
    padding: 20px;
    height: 95%;
    padding-bottom: 70%;
    overflow: auto;
  }
  overflow: hidden;

  .nav {
    position: absolute;
    bottom: 0;
    padding: 30px;
    background: #fffffff2;
    right: 0;
    left: 0;
    border-radius: 30px 30px 0 0;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 20px;
    backdrop-filter: blur(1px);
    .sub,
    .price {
      display: flex;
      justify-content: space-between;
      font-family: system-ui;
    }
    .sub span,
    .price span {
      display: inline-block;
    }
    .sub {
      color: #c9c9c9;
      margin-bottom: 10px;
    }
    .price {
      font-size: 23px;
      line-height: 40px;
      color: $blue;
      border-top: 2px dashed #e0e0e0;
      margin-top: 10px;
      padding-top: 10px;
      margin-bottom: 10px;
    }
    button {
      padding: 10px 20px;
      background: $blue;
      color: white;
      border-radius: 20px;
      font-size: 17px;
      width: 100%;
    }
  }
  .no-items {
    text-align: center;
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    svg {
      margin-bottom: 20px;
      margin-left: -20px;
    }
    p {
      color: #c9c9c9;
      font-family: system-ui;
    }
  }
}
.cart-icon {
  position: fixed;
  right: 0;
  z-index: 10;
  padding: 20px;
  transition: transform 0.2s ease-out;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
  span.item-count {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    color: white;
    background-color: #f36766;
    margin-right: -5px;
  }
}
.cart-icon.animate {
  transform: scale(1.1);
}

.notification-popup {
  position: fixed;
  z-index: 20;
  top: 0;
  padding: 10px;
  background: #fffdfc;
  border: 2px dashed $blue;
  border-top: 0;
  right: 0;
  left: 0;
  border-radius: 0 0 20px 20px;
  text-align: center;
  .max-10 {
    color: $pink;
  }
}

@media only screen and (min-width: 600px) {
  .cart-icon {
    margin-right: 30px;
  }
}
