.notice {
  padding: 15px;
  background-color: #545485f5;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  color: #ffe8e8;
  transform: translateY(-101%);
  border-radius: 0 0 30px 30px;
  transition: transform 0.7s;
  max-width: 400px;
  margin: 0 auto;
  button {
    display: inline-block;
  }
  a {
    border-bottom: 1px solid;
  }
}
.notice.show {
  transform: translateY(0);
}

@media only screen and (max-width: 700px) {
  .notice {
    right: 0;
  }
}
