* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/*
font-family: 'Comfortaa', cursive;
font-family: 'Poppins', sans-serif;
*/
body,
html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #282828;
}

:root {
  /* Max Width for content & header*/
  --maxWidth: 1100px;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  padding: 1px;
  margin: 30px 10px;
  border: unset;
  background: #3f73d71c;
  border-radius: 100%;
}
