@import "../../Styles/Colors.scss";

.focus-popup {
  --height: 85vh;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  padding: 30px 20px;
  height: var(--height);
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  // Class
  h1 {
    font-size: 21px;
    font-weight: bold;
    padding: 5px 0 20px 0;
  }
  // Category
  h3 {
    opacity: 0.5;
  }
  .image {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  button.close {
    font-size: 15px;
    padding: 5px;
  }
  button.buy {
    width: 100%;
    padding: 20px;
    background: $blue;
    color: white;
    font-size: 20px;
    border-radius: 10px;
  }
  .full-description {
    padding-bottom: 20px;
  }
  .quantity-and-price {
    display: flex;
    justify-content: space-between;
  }
  .price {
    font-size: 22px;
    line-height: 35px;
    font-weight: bold;
    font-family: monospace;
  }
  .quantity {
    font-family: monospace;
    margin-bottom: 20px;
    line-height: 27px;
    .add,
    .minus,
    .num {
      color: $blue;
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
    }
    .add,
    .minus {
      border: 2px solid $blue;
      border-radius: 5px;
    }
  }
}
