form {
  input {
    border-radius: 20px 0 0 20px;
    border: 1px solid white;
    padding: 8px 15px;
    &:focus {
      outline: 1px solid #545485;
    }
    &:focus + button {
      background-color: #545485;
    }
  }
  button {
    background: unset;
    border: 1px solid white;
    border-radius: 0 20px 20px 0;
    color: white;
    padding: 8px 15px;
    transition: background-color 0.12s ease;
    will-change: background-color;
    cursor: pointer;
  }
}
